Overview
This web application will assist in the data logging of orders lifted for product at the Lazarus refinery.
This application will have the following features:
1. Display all orders that are scheduled to be lifted
2. The ability to sort and filter orders based on:
    a. Order date
    b. Order customer
    c. Order product
    d. Order destination
3. The ability to mark an order as lifted, containing the date & time of the lift, as well as any issues or notes
4. Display a log of the recent actions done in the application
5. Check the prepaid balance of a customer, and not allowing the operator to mark an order as lifted if the customer has insufficient prepaid balance.

This web app will be built using the following technologies:
1. HTML/CSS & JavaScript for the front-end
2. Node.js & Express for the back-end, using the Google Sheets API

All of the actions done in the web app will sync back to the master spreadsheet



    