/* style.css */

/* Keyframe Animations */
@keyframes fadeIn {

    /* Style for from */
    from {
        opacity: 0;
    }

    /* Style for to */
    to {
        opacity: 1;
    }
}

/* Style for body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 50vh;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* Align items to the right */
}

/* Style for .right-container */
.right-container {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    height: 100vh;
    align-self: flex-start;
    width: 40%;
}

/* Style for .left-container */
.left-container {
    height: 100%;
    width: 70%;
}

/* Style for .input */
.input {
    background: #fff;
    padding: 20px;
    margin: 20px;
    margin-left: 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style for .log */
.log {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    /* Fill remaining vertical space */
    overflow-y: auto;
    margin: 20px;
    margin-left: 0;
    margin-top: 0;
    /* Scrollbar for overflow */
    /* Space between container and log */
}

.log:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform 0.2s, box-shadow 0.2s;
}

.input:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform 0.2s, box-shadow 0.2s;
}
.selectorArea:hover{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        transform: scale(1.01);
        transition: transform 0.2s, box-shadow 0.2s;
}

/* Style for .employee-cards */
.order-cards {
    display: flex;
    flex-wrap: wrap;
    /* Allows cards to wrap to the next line */
    align-self: flex-start;
    justify-content: flex-start;
    /* Adjust as needed */
    padding: 10px;
    /* To align with the left edge */
}

.selectorArea{
    background: #fff;
        padding: 20px;
        margin: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
            transition: transform 0.2s, box-shadow 0.2s;
            
}

.buttonArea{
    background: #fff;
        padding: 10px;
        margin: 0px;
        margin-left: 20px;
        margin-right: 0px;
        border-radius: 8px;
        margin-bottom: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        transition: transform 0.2s, box-shadow 0.2s;
}

.buttonArea:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.01);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Style for .card */
.card {
    background: #fff;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Width is 1/4 of the container */
    width: calc(25% - 20px);
    /* Adjust the width as needed */
    box-sizing: border-box;
    transition: transform 0.2s, box-shadow 0.2s;
}


h1,

/* Style for h2 */
h2 {
    color: #333;
    text-align: center;
}

textarea,

/* Style for button */
button {
    resize: none;
    width: calc(100% - 24px);
    /* Adjusted for padding */
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea::placeholder {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

#employeeName {
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: gray;
    border: black;

}

/* Style for button */
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Style for button:hover */
button:hover {
    background-color: #0056b3;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.03);
    cursor: pointer;
}

/* Style for button:active */
button:active {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

select {
    display: block;
    width: calc(100% - 24px);
    padding: 12px;
    margin-bottom: 10px;
    /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

label {
    margin-top: 10px;
    display: block;
    font-size: 16px;
    color: #3d3b3b;
}

.time-selectors {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.time-selectors label,
.time-selectors select {
    margin-right: 10px;
}

.ampm {
    width: 60%;
}

/* Style for .log-entry */
.log-entry {
    border-bottom: 2px solid #eee;
    padding: 8px;
    color: #666;
    margin: 2px;
    animation: fadeIn 1s;
}

/* Style for .clocked-in */
.clocked-in {
    background-color: rgb(28, 239, 28);
    /* You can choose a different color if you prefer */
}

@media screen and (max-width: 768px) {

    /* Style for body */
    body {
        align-items: center;
    }

    .container,

    /* Style for .log */
    .log {
        width: 80%;
    }

    /* Style for .log */
    .log {
        flex-grow: 0;
        /* Reset flex-grow for smaller screens */
    }
}

/* Style for .date-style */
.date-style {
    font-size: 17px;
    color: #000000;
    margin: 0;
    text-align: center;
}

/* Style for .card:hover */
.card:hover {
    /* Example styles */
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

/* Style for .card:active */
.card:active {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

/* Style for input:focus */
input:focus {
    transform: scale(1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}

/* Style for card:hover */
card:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
    cursor: pointer;
}

/* Style for .fade-in */
.fade-in {
    animation: fadeIn 1.5ss;
}